.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-plus,
.habit-minus {
  color: orange;
}

.habit-trash {
  color: grey;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.2rem;
  margin-left: 0.2em;
  background-color: green;
  color: white;
  border-radius: 50%;
}
