.header {
  justify-content: center;
}

.header {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.header-logo {
  color: green;
  margin-right: 0.5em;
}

.header-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.2rem;
  margin-left: 0.2em;
  background-color: green;
  color: white;
  border-radius: 50%;
}
