@import './css/habit.css';
@import './css/header.css';
@import './css/add.css';
@import './css/reset.css';

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}
